@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff") format("woff");
  font-style: normal;
  color: $black;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff") format("woff");
  font-style: normal;
  color: $black;
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-style: normal;
  color: $black;
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff") format("woff");
  font-style: normal;
  color: $black;
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-style: normal;
  color: $black;
  font-weight: 800;
}

