@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 1024 * 10);
  }

  @include breakpoint($lb-bp) {
    font-size: calc(100vw / 768 * 10);
  }


  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }

  ::-webkit-scrollbar {
    width: 0;
  }
  scroll-behavior: smooth;
  font-family: 'Raleway';
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.page {
  overflow: hidden;
  width: 100%;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

body {

}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  transition: all 0.1s linear;
}

/* Vendors */



/* Blocks */

@import './blocks/menu.scss';
@import './blocks/swiper.scss';
@import './blocks/main.scss';
@import './blocks/header.scss';
@import './blocks/footer.scss';




.hide {
  display: none;
}

.show {
  display: block;
}

.br5 {
  border-radius: 0.5rem;
}

.br10 {
  border-radius: 1rem;
}

.page {
  background: linear-gradient(180deg, #F1FFEA 0%, #FFFFFF 100vh);
}

.page-button {
  border: 0.1rem solid $green;
  background-color: $green;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: $white;
  border-radius: 0.5rem;
  transition: background-color .5s ease-in-out, border-color .5s ease-in-out;
  @include breakpoint($lb-bp) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  a {
    width: 100%;
    height: 100%;
    color: $white;
    font-weight: 700;
    text-align: center;
  }
  &:hover {
    background-color: $orange;
    border-color: $orange;
  }
}

ul {
  li {
    a {
      &:hover {
        color: $orange!important;
      }
    }
  }
}

.page-wrapper {
  padding-left: 8rem;
  padding-right: 8rem;
  @include breakpoint($xl-bp) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include breakpoint($lb-bp) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.page-wrapper--left {
  padding-left: 8rem;
  padding-right: 0;
  @include breakpoint($xl-bp) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include breakpoint($lb-bp) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.bold22 {
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 700;
  @include breakpoint($xl-bp) {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
}


@keyframes btnAnimation {
  0% { scale: 0.8 }
  70% { scale: 1.1 }
  80% { scale: 0.9}
  90% { scale: 1.05}
  100% { scale: 1}
 }

#animBtn {
animation: btnAnimation 0.5s ease-in-out;
}


@keyframes coinAnimation1 {
  0% { 
      top: -3rem;
      right: 25rem;
    }


  50% {
    top: -10rem;
    right: 20rem;
  }



  100% {
    top: -3rem;
    right: 25rem;
  }
}

#coin1 {
  animation: coinAnimation1 3s ease-in-out infinite;
}



@keyframes coinAnimation2 {
  0% { 
    top: 8rem;
    right: 0;
    }


  50% {
    top: 15rem;
    right: -7rem;
  }



  100% {
    top: 8rem;
    right: 0;
  }
}

#coin2 {
  animation: coinAnimation2 3s ease-in-out infinite;
}


@keyframes coinAnimation3 {
  0% { 
    top: 24.4rem;
    right: 21rem;
    }


  50% {
    top: 13.4rem;
    right: 16rem;
  }



  100% {
    top: 24.4rem;
    right: 21rem;
  }
}

#coin3 {
  animation: coinAnimation3 3s ease-in-out infinite;
}

@keyframes coinAnimation4 {
  0% { 
    top: 36rem;
    right: 1rem;
    }


  50% {
    top: 36rem;
    right: 12rem;
  }



  100% {
    top: 36rem;
    right: 1rem;
  }
}

#coin4 {
  animation: coinAnimation4 3s ease-in-out infinite;
}

@keyframes coinAnimation5 {
  0% { 
    top: 48.5rem;
    right: 19.5rem;
    }


  50% {
    top: 42.5rem;
    right: 26.5rem;
  }



  100% {
    top: 48.5rem;
    right: 19.5rem;
  }
}

#coin5 {
  animation: coinAnimation5 3s ease-in-out infinite;
}