.header {
    padding-top: 2.45rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    background: linear-gradient(180deg, #F1FFEA 80%, transparent 100%), $white;
    @include breakpoint($xl-bp) {
      padding-top: 3.45rem;
      position: fixed;
      width: 100%;
      // background-color: #F1FFEA;
      background: linear-gradient(180deg, #F1FFEA 80%, transparent 100%);
    }
    @include breakpoint($sm-bp) {
      padding-top: 2rem;
    }
    div.header__wrapper {
      width: 24.2rem;
      display: grid;
      grid-template-columns: 1fr 17.5rem;
      align-items: center;
      column-gap: 1rem;
      position: relative;
      @include breakpoint($xl-bp) {
        width: 28.2rem;
        grid-template-columns: 5rem 14.2rem 4rem;
      }
      @include breakpoint($sm-bp) {
        grid-template-columns: 3.6rem min-content 2.8rem;
        width: auto;
      }
      .header__button {
        @include breakpoint($sm-bp) {
          background-color: transparent;
          border: none;
          padding-left: 0.1rem;
          padding-right: 1rem;

          a {
            color: $green;
          }
        }
      }
      div.select-button {
        position: relative;
        &::before {
          content: attr(data-text);
        }
        i {
          position: absolute;
          top: 1rem;
          right: 1.5rem;
          @include breakpoint($sm-bp) {
            right: 0.2rem;
            top: 0.7rem;
          }
        }
      }
      div.select-button:focus + .select-lang {
        visibility: visible;
        opacity: 1;
        top: 5rem;
      }
    
      div.select-lang {
        position: absolute;
        top: 0;
        left: -1rem;
        display: flex;
        flex-direction: column;
        background-color: $white;
        border: 0.1rem solid $lgreen;
        border-radius: 0.5rem;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease;
        a {
          padding: 1rem;
          color: $black;
          &:hover {
            color: $orange;
          }
        }
      }
      div.select-lang:focus{
        top:5rem;
        visibility:visible;
        opacity:1;
      }
    }
  
    @keyframes btnAnimation {
      0% { scale: 0.8 }
      70% { scale: 1.1 }
      80% { scale: 0.9}
      90% { scale: 1.05}
      100% { scale: 1}
     }

  #animBtn {
    animation: btnAnimation 0.3s ease-in-out;
  }
}

.arrow {
  border: solid black;
  border-width: 0 0.1rem 0.1rem 0;
  display: inline-block;
  padding: 0.2rem;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.logo {
  padding-left: 0.5rem;
  svg {
    width: 13.6rem;
    height: 6.2rem;
    @include breakpoint($sm-bp) {
      width: 9rem;
      height: 5rem;
    }
  }
}
