
.main {


  @keyframes btnAnimation {
    0% { scale: 0.8 }
    70% { scale: 1.1 }
    80% { scale: 0.9}
    90% { scale: 1.05}
    100% { scale: 1}
   }


  @include breakpoint($lb-bp) {
    padding-top: 10rem;
  }
  @include breakpoint($sm-bp) {
    padding-top: 7rem;
  }

  .page-nav {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: fixed;
    bottom: 20rem;
    left: 9rem;
    a {
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 50%;
      background-color: $lgreen;
    }
    @include breakpoint($xl-bp) {
      display: none;
    }
  }

  .page-login {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    .page-login__overlay {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      background-color: $black;
      opacity: 0.5;
      z-index: 1;
    }
    form {
      background-color: $white;
      padding: 5rem 10rem;
      border-radius: 0.5rem;
      width: min-content;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      input {
        padding: 1.5rem 2rem;
        border: 0.1rem solid #888888;
        border-radius: 0.5rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        @include breakpoint($sm-bp) {
          margin-right: 0;
          margin-left: 0;
        }
        @include breakpoint($sm-bp) {
          font-size: 1.4rem;
          line-height: 1.6rem;
        }
      }
    }
  }

  .copy-block {
    display: grid;
    grid-template-columns: 2.5rem 92rem 77rem;
    column-gap: 2.2rem;
    padding-top: 13rem;
    padding-bottom: 12rem;
    @include breakpoint($xl-bp) {
      grid-template-columns: 1fr;
    }
    @include breakpoint($lb-bp) {
      padding-top: 6.5rem;
    }
    @include breakpoint($sm-bp) {
      padding-top: 0;
      padding-bottom: 9rem;
    }
    div.copy-block__wrapper {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      padding-top: 4.3rem;
      @include breakpoint($xl-bp) {
        padding-bottom: 10rem;
        gap: 3.5rem;
      }
      @include breakpoint($sm-bp) {
        padding-top: 3rem;
        gap: 2rem;
        padding-bottom: 5rem;
      }
      h1.ex76 {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        span {
          display: flex;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          height: 0.3rem;
          width: 39rem;
          background-color: $green;
          @include breakpoint($xl-bp) {
            display: none;
          }
        }
      }
    
      span.reg26 {
        padding-bottom: 3rem;
        max-width: 75rem;
        @include breakpoint($lb-bp) {
          padding-bottom: 2.5rem;
        }
        @include breakpoint($sm-bp) {
          padding-top: 0.5rem;
          padding-bottom: 1rem;
        }
      }
    
      button.page-button {
        padding-left: 5rem;
        padding-right: 5rem;
        margin-right: auto;
        @include breakpoint($sm-bp) {
          width: 100%;
        }
      }
    }
    .copy-block__swiper {
      box-sizing: border-box;
      width: 100%;
      overflow: hidden;
    }
    .copy-block__sw {
      .swiper-slide {
        border: 0.1rem solid #AFC7B1;
        padding-top: 2rem;
        @include breakpoint($sm-bp) {
          padding-top: 1rem;
        }
        div.slide-top {
          display: grid;
          grid-template-columns: repeat(3, min-content);
          justify-content: space-between;
          align-items: center;
          border-bottom: 0.1rem solid $lgreen;
          padding-bottom: 1.5rem;
          margin-left: 2rem;
          margin-right: 2rem;
          & > div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
          @include breakpoint($sm-bp) {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
          }
          div.second-block {
        
            div.img-spot {
              width: 8rem;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        
          div.flag-block {
            width: 2.8rem;
            height: 2.8rem;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
        .slide-middle {
          margin-left: 2rem;
          margin-right: 2rem;
          padding-top: 1.5rem;
          @include breakpoint($sm-bp) {
            margin-right: 1.5rem;
            margin-left: 1.5rem;
            padding-top: 2rem;
          }
          .block-komm {
            display: flex;
            justify-content: space-between;
            padding-top: 3.8rem;
            @include breakpoint($sm-bp) {
              padding-top: 0.8rem;
              .left-block {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
              }
              .right-block {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
              }
            }
            &>div {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
          }
        }
        .slide-bot {
          .slide-bot__container {
            position: relative;
            .slide-bot__text {
              width: max-content;
              display: flex;
              flex-direction: column;
              gap: 1.5rem;
              align-items: center;
              position: absolute;
              bottom: 2.3rem;
              left: 50%;
              transform: translateX(-50%);
              @include breakpoint($sm-bp) {
                bottom: 1rem;
              }
              .reg16 {
                @include breakpoint($sm-bp) {
                  font-size: 1.4rem;
                  line-height: 1.6rem;
                }
              }
              &:hover {
                a {
                  animation: 1s linear 0s infinite alternate pulse;
                }
              }
            }
            .slide-bot__graphik {
              width: 100%;
              height: 24rem;
              @include breakpoint($sm-bp) {
                height: 13rem;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: bottom;
              }
            }
          }
        }
      }
    }
    div.swiper-container {
      display: grid;
      grid-template-columns: 1fr 14rem;
      @include breakpoint($sm-bp) {
        grid-template-columns: 1fr;
      }
      button.show-button {
        border: 0;
        background-color: transparent;
        border-radius: 0;
        padding-top: 4.25rem;
        padding-left: 12rem;
        // @include breakpoint($xl-bp) {
        //   grid-column: 1 / 2;
        //   grid-row: 1 / 2;
        // }
        @include breakpoint($sm-bp) {
          padding-top: 2rem;
          grid-column: auto;
        }
        &:hover a {
          color: $orange;
        }
        &:hover {
          a.bold22.green {
            i.arrow.right {
              border-color: $orange;
            }
          }
        }
        a.bold22.green {
          i.arrow.right {
            transform: translate(1rem, -0.5rem) rotate(-45deg);
            border-color: $green;
          }
        }
        @include breakpoint($sm-bp) {
          padding-left: 0;
        }
      }
      div.arrow-container {
        @include breakpoint($sm-bp) {
          grid-row: 1 / 2;
          padding-top: 1.3rem;
        }
      }
    
      div.swiper-progressbar {
        position: relative;
        margin-top: 4.8rem;
        width: 100%;
        height: 0.1rem;
        background-color: $lgreen;
        grid-column: 2 span;
        @include breakpoint($sm-bp) {
          grid-column: auto;
          margin-top: 2.8rem;
        }
        .swiper-pagination-progressbar-fill {
          height: 0.3rem;
          top: -0.2rem;
          border-radius: 0.3rem;
          background-color: $green;
        }
      }
    }
  }

  div.arrow-container {
    display: flex;
    justify-content: space-between;
    padding-top: 4.8rem;
    @include breakpoint($lb-bp) {
      padding-top: 3rem;
    }
    div {
      border-radius: 0.5rem;
      border: 0.1rem solid $green;
      background-color: transparent;
      position: relative;
      width: 6rem;
      height: 4rem;
      cursor: pointer;
      transition: transform 0.5s ease;
      @include breakpoint($sm-bp) {
        width: 4.2rem;
        height: 3rem;
      }
      &::before, 
      &::after {
        content: '';
        position: absolute;
        top: 1.8rem;
        left: 2rem;
        height: 0.2rem;
        background-color: $green;
        width: 1rem;
        @include breakpoint($sm-bp) {
          top: 1.35rem;
          left: 1.8rem;
          height: 0.1rem;
        }
      }
      &::before {
        border-left: 0.2rem solid $green;
        border-bottom: 0.2rem solid $green;
        height: 1.5rem;
        width: 1.5rem;
        top: 1.7rem;
        left: 1.5rem;
        background-color: transparent;
        transform: rotate(45deg) translateY(-50%);
        @include breakpoint($sm-bp) {
          height: 0.8rem;
          width: 0.8rem;
          border-width: 0.1rem;
          top: 1.3rem;
        }
      }
      &::after {
        width: 2rem;
        @include breakpoint($sm-bp) {
          width: 1rem;
        }
      }
      &:hover {
        transform: translateX(-1rem);
      }
    }

    div.arrow-container__prev {
      transform: rotate(180deg);
      transition: transform 0.5s ease;
      &:hover {
        transform: translateX(1rem) rotate(180deg);
      }
    }
  }


  section.subscribe {
    display: grid;
    grid-template-columns: 2.5rem calc(100% - 4.5rem);
    column-gap: 2.2rem;
    @include breakpoint($xl-bp) {
      grid-template-columns: 1fr;
    }
  
    div.subscribe__container.pl4 {
      padding-top: 8rem;
      padding-bottom: 10rem;
      @include breakpoint($xl-bp) {
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        padding-top: 3rem;
      }
      @include breakpoint($sm-bp) {
        padding-bottom: 7rem;
      }
      h2.ex76 {
        display: flex;
      }
  
      div.subscribe__price {
        padding-top: 6rem;
        @include breakpoint($lb-bp) {
          padding-top: 4rem;
        }
        @include breakpoint($sm-bp) {
          padding-top: 3rem;
        }
        div.subscribe__price-block.br5 {
          border: 0.1rem solid #AFC7B1;
          padding: 1.5rem;
          height: auto;
          display: flex;
          flex-direction: column;
          animation: btnAnimation 0.3s ease-in-out;

          
          @include breakpoint($lb-bp) {
            padding: 3.3rem;
          }
          @include breakpoint($sm-bp) {
            padding: 2.3rem;
          }
          div.df {
            display: flex;
            justify-content: space-between;
            span.bold30 {
  
            }
  
            div.price.ex24.green {
              span.price__numb {
  
              }
  
              span.price__month {
  
              }
            }
          }
  
          div.dep.df {
            padding-top: 1rem;
            span.dep__name.bold14 {
  
            }
  
            span.ex18.orange {
  
            }
          }
  
          div.line {

            height: 0.1rem;
            width: 100%;
            background-color: #AFC7B1;
            margin-top: 3rem;
            margin-bottom: 3rem;
          }
  
          div.table {
            display: grid;
            grid-template-columns: repeat(3, max-content);
            column-gap: 2.3rem;
            padding-bottom: 2.8rem;
            @include breakpoint($lb-bp) {
              justify-content: space-between;
            }
            div {
              display: flex;
              flex-direction: column;
              row-gap: 0.8rem;
            }
            div.table__name.bold14 {
              padding-bottom: 0.5rem;
            }
  
            div.reg14 {
            }
  
            div.ex20 {
              text-align: center;
            }
          }
          div.commision {
            div.bold16 {
          
            }
          
            div.commision__container {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              padding-bottom: 3.5rem;
              padding-top: 0.5rem;
              div.commision__container-item {
                display: flex;
                flex-direction: column;
                &:nth-child(2) {
                  justify-self: end;
                }
                span {
                  padding-top: 0.7rem;
                  &:first-child {
                    padding-top: 0;
                  }
                }
              }
            }
          }
  
          button.page-button {
            margin-top: auto;
            width: 100%;
          }
        }
      }
      .arrow-container {
        display: none;
        @include breakpoint($lb-bp) {
          display: flex;
          width: 14rem;
          margin-left: auto;
        }
        @include breakpoint($sm-bp) {
          padding-top: 2rem;
          margin: 0;
          width: 100%;
        }
      }

      div.subscribe__progressbar {
        position: relative;
        margin-top: 4.8rem;
        width: 100%;
        height: 0.1rem;
        background-color: $lgreen;
        grid-column: 2 span;
        display: none;
        @include breakpoint($lb-bp) {
          display: block;
        }
        @include breakpoint($sm-bp) {
          margin-top: 2.8rem;
        }
        .swiper-pagination-progressbar-fill {
          height: 0.3rem;
          top: -0.2rem;
          border-radius: 0.3rem;
          background-color: $green;
        }
      }
    }
  }


  section.itsprofitable {
    padding-top: 10.3rem;
    padding-bottom: 10rem;

    @include breakpoint($lb-bp) {
      padding-top: 5rem;
    }

    @include breakpoint($sm-bp) {
      grid-template-columns: 100%;
      padding-bottom: 7rem;
    }
  
    div.itsprofitable__wrapper.pl4 {
      h2.ex76 {
        padding-bottom: 5.5rem;
        display: flex;

        span {
          display: flex;
        }
        @include breakpoint($lb-bp) {
          padding-bottom: 2.5rem;
        }
        @include breakpoint($sm-bp) {
          padding-bottom: 1.5rem;
        }
      }
  
      div.itsprofitable__top-block {
        display: grid;
        grid-template-columns: 33rem 10rem 52rem 10rem 33rem;
        column-gap: 5.5rem;
        @include breakpoint($xl-bp) {
          grid-template-columns: 1fr;
          row-gap: 3rem;
        }
        @include breakpoint($lb-bp) {
          column-gap: 4rem;
        }
        @include breakpoint($sm-bp) {
          row-gap: 2rem;
        }
        div.itsprofitable__top-item {
          position: relative;
          height: min-content;
          .desctop {
            border-radius: 1rem;
            position: relative;
            width: 100%;
            margin-left: auto;
            margin-bottom: 4rem;
            padding-left: 4.5rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: top right;
              position: relative;
              z-index: 2;
            }
          }
          .mobile {
            position: absolute;
            bottom: 0;
            width: 10rem;
            height: 21rem;
            z-index: 2;
            @include breakpoint($sm-bp) {
              width: 8rem;
              height: 15rem;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          ul.reg18 {
            padding-top: 2.5rem;
            @include breakpoint($xl-bp) {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
            }
            @include breakpoint($sm-bp) {
              padding-top: 1rem;
              display: flex;
              flex-direction: column;
            }
            li {
              position: relative;
              padding-left: 2.7rem;
              padding-bottom: 8rem;
              @include breakpoint($xl-bp) {
                padding-bottom: 3rem;
              }
              &::before {
                content: '';
                color: $green;
                position: absolute;
                top: 0.5rem;
                left: 0;
                margin-left: 0.3rem;
                margin-top: 0.4rem;
                width: 1.4rem;
                height: 0.8rem;
                border-bottom: solid 0.2rem currentColor;
                border-left: solid 0.2rem currentColor;
                -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
              }
              &:not(:last-child) {
                padding-bottom: 2rem;
                @include breakpoint($sm-bp) {
                  padding-bottom: 1rem;
                }
              }
            }
          }
  
          button.page-button {
            width: 100%;
            @include breakpoint($xl-bp) {
              width: 30rem;
            }
            @include breakpoint($sm-bp) {
              width: 100%;
            }
          }
        }

        .photos {
          @include breakpoint($xl-bp) {
            width: 80%;
            margin: 0 auto;
          }
          @include breakpoint($lb-bp) {
            width: 70%;
          }
          @include breakpoint($sm-bp) {
            width: 100%;
          }
        }

        .cont {
          padding-top: 1.5rem;
        }

        @include breakpoint($lb-bp) {
          .last {
            padding-top: 0;
          }
        }
  
        div.roud-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            width: 100%;
            height: 10rem;
            fill: transparent;
            -webkit-animation:spin 4s linear infinite;
            -moz-animation:spin 4s linear infinite;
            animation:spin 4s linear infinite;
            @include breakpoint($lb-bp) {
              height: 7rem;
            }
            use {
  
            }
          }
        }
      }

      div.itsprofitable__bottom-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 9rem;
        @include breakpoint($xl-bp) {
          flex-direction: column;
          row-gap: 5rem;
        }
        @include breakpoint($sm-bp) {
          padding-top: 6rem;
          row-gap: 4rem;
        }
        div.itsprofitable__bottom-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          @include breakpoint($xl-bp) {
            justify-content: center;
            width: 100%;
          }
          div.title {
            padding-bottom: 0.5rem;
            position: relative;
            @include breakpoint($xl-bp) {
              width: 100%;
              text-align: center;
            }
            @include breakpoint($lb-bp) {
              padding-bottom: 0;
            }
          }
      
          span.desc.ex50 {
      
          }
        }
        @include breakpoint($xl-bp) {
          div.itsprofitable__bottom-item:nth-child(2) div.title {
            padding-bottom: 3rem;
            @include breakpoint($lb-bp) {
              padding-bottom: 4rem;
            }
            @include breakpoint($sm-bp) {
              padding-bottom: 2.5rem;
            }
          }
          div.itsprofitable__bottom-item:nth-child(2) .desc {
            padding-top: 1rem;
            padding-top: 0.5rem;
          }
        }
        .flags {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 2rem;
          width: 100%;
          @include breakpoint($xl-bp) {
            height: 3rem;
          }
          @include breakpoint($sm-bp) {
            height: 2rem;
          }
          img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            @include breakpoint($xl-bp) {
              left: 0;
            }
          }
        }
      }

    }
  }


  section.Capabilities {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 48.44%, #EEFFE7 90.62%, #FFFFFF 99.48%);
    @include breakpoint($lb-bp) {
      padding-top: 5rem;
    }
    @include breakpoint($sm-bp) {
      padding-bottom: 7rem;
    }
  
    div.Capabilities__wrapper {
      h2.ex76 {
        display: flex;
        padding-bottom: 6rem;
        @include breakpoint($lb-bp) {
          padding-bottom: 4rem;
        }
        @include breakpoint($sm-bp) {
          padding-bottom: 3rem;
        }
      }
  
      div.Capabilities__container {
        display: grid;
        grid-template-columns: 73% 27%;
        position: relative;
        @include breakpoint($xl-bp) {
          grid-template-columns: 1fr;
        }
        div.swiper.Capabilities__swiper {
          @include breakpoint($sm-bp) {
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
          }
          div.swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 23.5rem 8rem 10rem 11rem;
            gap: 3rem;
            @include breakpoint($xl-bp) {
              grid-template-columns: 35.5rem 1fr;
              grid-template-rows: repeat(2, 26rem) 37rem;
              gap: 2rem;
            }
            @include breakpoint($sm-bp) {
              grid-template-columns: auto;
              grid-template-rows: auto;
              display: flex;
              gap: 0;
            }
            div.swiper-slide.profit__container-item {
              border: 0.1rem solid $lgreen;
              border-radius: 0.5rem;
              padding: 0 6rem;
              display: flex;
              align-items: center;
              justify-content: center;
              @include breakpoint($xl-bp) {
                padding: 0 4.2rem;
              }
              @include breakpoint($sm-bp) {
                padding: 4.4rem;
              }
              span.sm26 {
                padding-top: 1.7rem;
                position: relative;
                &::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 5rem;
                  height: 0.1rem;
                  background: linear-gradient(to right, $green, transparent);
                }
              }
              &:nth-child(2) {
                grid-row: 2 span;
                @include breakpoint($xl-bp) {
                  grid-row: auto;
                }
              }
              &:nth-child(3) {
                grid-row: 3 span;
                @include breakpoint($xl-bp) {
                  grid-row: auto;
                }
              }
              &:nth-child(4) {
                grid-row: 3 span;
                @include breakpoint($xl-bp) {
                  grid-row: auto;
                }
              }
              &:nth-child(5) {
                grid-row: 2 span;
                @include breakpoint($xl-bp) {
                  grid-row: auto;
                }
              }
            }
  
            button.page-button.bold22 {
              margin-top: 4rem;
              @include breakpoint($xl-bp) {
                height: 2.2rem;
                margin-top: auto;
              }
              @include breakpoint($sm-bp) {
                display: none;
              }
            }
          }
        }

        .coins-container {
          .imgContainer {
            position: absolute;
            top: 0;
            right: 0;
            width: 13rem;
            height: 13rem;
            @include breakpoint($lb-bp) {
              bottom: 2.5rem;
              top: unset;
              z-index: 2;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .first-coin {
            top: -3rem;
            right: 25rem;
            @include breakpoint($lb-bp) {
              bottom: 33.5rem;
              right: 22rem;
              width: 7rem;
              height: 7rem;
              top: unset;
              z-index: 2;
            }
            @include breakpoint($sm-bp) {
              bottom: -19rem;
              right: 27rem;
              width: 6rem;
              height: 6rem;
            }
          }
          .second-coin {
            width: 15rem;
            height: 15rem;

            top: 8rem;
            right: 0;
            @include breakpoint($lb-bp) {
              bottom: 25.9rem;
              right: 5rem;
              width: 7rem;
              height: 7rem;
              top: unset;
              z-index: 2;
            }
            @include breakpoint($sm-bp) {
              bottom: -17.1rem;
              right: 1rem;
              width: 5.5rem;
              height: 5.5rem;
            }
          }
          .third-coin {
            top: 24.4rem;
            right: 21rem;
            @include breakpoint($lb-bp) {
              bottom: 18rem;
              right: 20.5rem;
              width: 8rem;
              height: 8rem;
              top: unset;
              z-index: 2;
            }
            @include breakpoint($sm-bp) {
              bottom: -14.5rem;
              right: 17.5rem;
              width: 5.5rem;
              height: 5.5rem;
            }
          }
          .forth-coin {
            width: 14rem;
            height: 14rem;

            top: 36rem;
            right: 1rem;
            @include breakpoint($lb-bp) {
              bottom: 6.4rem;
              right:  9rem;
              width: 9rem;
              height: 9rem;
              top: unset;
              z-index: 2;
            }
            @include breakpoint($sm-bp) {
              bottom: -20.5rem;
              right: 9.5rem;
              top: unset;
              width: 5rem;
              height: 5rem;
            }
          }
          .fifth-coin {
            top: 48.5rem;
            right: 19.5rem;
            @include breakpoint($lb-bp) {
              bottom: 7.5rem;
              right: 23.5rem;
              top: unset;
              width: 8rem;
              height: 8rem;
            }
            @include breakpoint($sm-bp) {
              bottom: -24rem;
              right: 17.5rem;
              top: unset;
              width: 7rem;
              height: 7rem;
            }
          }
  
        }
      }
      div.arrow-container {
        padding-top: 1.5rem;
        display: none;
        @include breakpoint($sm-bp) {
          display: flex;
        }
      } 
      div.capabilities__progressbar {
        display: none;
        @include breakpoint($sm-bp) {
        display: block;
        position: relative;
        margin-top: 4.8rem;
        width: 100%;
        height: 0.1rem;
        background-color: $lgreen;
        grid-column: 2 span;
        @include breakpoint($sm-bp) {
          grid-column: auto;
          margin-top: 2.8rem;
        }
        .swiper-pagination-progressbar-fill {
          height: 0.3rem;
          top: -0.2rem;
          border-radius: 0.3rem;
          background-color: $green;
        }
        }
      }
      .capabilities__button {
        margin-top: 18rem;
        width: 100%;
      }
    }
  }

  .secure {
    padding-top: 10rem;
    padding-bottom: 10rem;
		// .secure__wrapper
    @include breakpoint($lb-bp) {
      padding-top: 5rem;
    }
    @include breakpoint($sm-bp) {
      padding-bottom: 7rem;
    }
		&__wrapper {
      .ex76 {
        display: flex;
      }
		}

		// .secure__container

		&__container {
      display: grid;
      grid-template-columns: repeat(2, 79rem);
      row-gap: 11.5rem;
      column-gap: 13rem;
      padding-top: 6rem;
      overflow: hidden;
      @include breakpoint($xl-bp) {
        grid-template-columns: 1fr;
        row-gap: 4rem;
        padding-top: 4rem;
      }
      @include breakpoint($sm-bp) {
        row-gap: 3rem;
        padding-top: 2.5rem;
      }
		}

		// .secure__container-item

		&__container-item {
      display: grid;
      grid-template-columns: min-content 1fr;
      gap: 3rem;
      @include breakpoint($sm-bp) {
        gap: 1.5rem;
      }
      .secure__icon {
        fill: transparent;
        stroke: $green;
        transition: stroke .5s ease-in-out;
        width: 6.6rem;
        height: 6.6rem;
        &:hover{
          stroke: $orange;
        }
        @include breakpoint($sm-bp) {
          width: 4.4rem;
          height: 4.4rem;
        }
      }
      .secure__text {

      }
		}

    .secure__button-wp {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5rem;
      @include breakpoint($lb-bp) {
        padding-top: 3rem;
      }
      button {
        padding-left: 5rem;
        padding-right: 5rem;
        margin-right: 9rem;
        @include breakpoint($lb-bp) {
          margin-right: 0;
          padding-left: 6rem;
          padding-right: 6rem;
        }
        @include breakpoint($sm-bp) {
          width: 100%;
        }
      }
    }
}

section.partners{
  padding-top: 9.6rem;
  padding-bottom: 10rem;
  @include breakpoint($lb-bp) {
    padding-top: 5rem;
  }
  div.partners__wrapper {
    h2.ex76 {
      padding-bottom: 6rem;
      display: flex;

      @include breakpoint($xl-bp) {
        padding-bottom: 0;
      }
    }

    div.partners__container {
      display: grid;
      grid-template-columns: min-content 1fr;
      column-gap: 30rem;
      @include breakpoint($xl-bp) {
        grid-template-columns: 30rem 1fr;
        column-gap: 7rem;
      }
      @include breakpoint($sm-bp) {
        grid-template-columns: 1fr;
      }
      div.partners__left-block {
        @include breakpoint($xl-bp) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          padding-top: 4rem;
        }
        @include breakpoint($sm-bp) {
          padding-top: 3rem;
        }
        .left-block__button {
          display: none;
          @include breakpoint($lb-bp) {
            display: block;
            width: 100%;
          }
          @include breakpoint($sm-bp) {
            display: none;
          }
        }
        div.partners__ball {
          width: 52.4rem;
          height: 52.4rem;
          border: 0.1rem solid $green;
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          @include breakpoint($xl-bp) {
            width: 100%;
            height: 30rem
          }
          @include breakpoint($sm-bp) {
            height: 33.5rem;
          }
          svg {
            fill: transparent;
            stroke: $green;
            height: 16rem;
            @include breakpoint($xl-bp) {
              height: 11rem;
              width: 13rem;
            }
          }

          span.bold80.green {
            padding-top: 4rem;
            @include breakpoint($sm-bp) {
              padding-top: 1rem;
              font-size: 5rem;
              line-height: 11.8rem;
            }
          }
        }
      }

      div.partners__right-block {
        padding-top: 4.5rem;
        @include breakpoint($xl-bp) {
          padding-top: 3.9rem;
        }
        @include breakpoint($sm-bp) {
          padding-top: 2.9rem;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 10rem;
          @include breakpoint($lb-bp) {
            gap: 6rem;
          }
          @include breakpoint($sm-bp) {
            gap: 4rem;
          }
          li {
            position: relative;
            padding-left: 8.5rem;
            @include breakpoint($xl-bp) {
              padding-left: 7rem;
            }
            @include breakpoint($sm-bp) {
              padding-left: 3rem;
            }
            &:nth-child(1)::after {
              content: '';
              bottom: -5rem;
              left: 1rem;
              position: absolute;
              background: linear-gradient(to right, $green, transparent);
              height: 0.1rem;
              width: 29rem;
              @include breakpoint($lb-bp) {
                bottom: -3rem;
              }
              @include breakpoint($sm-bp) {
                bottom: -2rem;
              }
            }
            &:last-child::after {
              content: '';
              top: -5rem;
              left: 1rem;
              position: absolute;
              background: linear-gradient(to right, $green, transparent);
              height: 0.1rem;
              width: 29rem;
              @include breakpoint($lb-bp) {
                top: -3rem;
              }
              @include breakpoint($sm-bp) {
                top: -2rem;
              }
            }
            &::before {
              content: '';
              position: absolute;
              top: 59%;
              transform: translateY(-50%);
              left: 1rem;
              background-image: url('/assets/images/svg/check.svg');
              height:4rem;
              width:4rem;
              background-size: 4rem 4rem;
              background-repeat: no-repeat;
              @include breakpoint($xl-bp) {
                left: 0;
              }
              @include breakpoint($sm-bp) {
                height: 2rem;
                width: 2rem;
                background-size: 2rem 2rem;
              }
            }
          }
        }
      }
    }

    div.partners__button-wp {
      padding-top: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint($sm-bp) {
        padding-top: 3rem;
      }
      button.page-button {
        padding-left: 10rem;
        padding-right: 10rem;
        margin-right: 9rem;
        @include breakpoint($lb-bp) {
          display: none;
        }
        @include breakpoint($sm-bp) {
          display: block;
          margin-right: 0;
          width: 100%;
        }
        a.bold22 {

        }
      }
    }
  }
}

section.rewievs {
  padding-top: 10rem;
  padding-bottom: 10rem;
  @include breakpoint($lb-bp) {
    padding-top: 0;
  }
  @include breakpoint($sm-bp) {
    padding-bottom: 7rem;
  }
  div.rewievs__wrapper {
    @include breakpoint($sm-bp) {
      padding-top: 4.5rem;
    }
    h2.ex76 {
      display: flex;
      padding-bottom: 6rem;
      @include breakpoint($lb-bp) {
        padding-bottom: 4rem;
      }
      @include breakpoint($sm-bp) {
        padding-bottom: 3rem;
      }
    }

    div.rewievs__container {
      @include breakpoint($xl-bp) {
        display: grid;
        width: 100%;
      }
      div.swiper.rewievs__swiper {
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        div.swiper-wrapper {
          div.swiper-slide {
            padding: 4rem;
            border: 0.1rem solid #AFC7B1;
            border-radius: 0.5rem;
            height: auto;
            display: flex;
            flex-direction: column;
            @include breakpoint($lb-bp) {
              padding: 1.5rem;
            }
              div.rewievs__slide-cont {
                display: flex;
                gap: 3rem;
                align-items: center;
                padding-bottom: 3.6rem;
                @include breakpoint($lb-bp) {
                  padding-bottom: 2.6rem;
                }
                div.rewievs__avatar {
                  width: 10.5rem;
                  height: 10.5rem;
                  border-radius: 50%;
                  overflow: hidden;
                  filter: grayscale(1);
                  @include breakpoint($lb-bp) {
                    width: 6rem;
                    height: 6rem;
                  }
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
                }
            
                div.rewievs__name {
            
                }
              }
            
              div.rewievs__text {
                @include breakpoint($lb-bp) {
                  line-height: 2.3rem;
                }
              }
            
              div.rewievs__data {
                display: flex;
                align-items: flex-end;
                padding-top: 2.5rem;
                height: 100%;
              }
          }
        }
      }
    }

    div.rewievs__button-wp {
      padding-right: 8rem;
      display: grid;
      grid-template-columns: 1fr min-content;
      align-items: center;
      justify-items: center;
      padding-top: 4.5rem;
      @include breakpoint($lb-bp) {
        padding-top: 3rem;
        padding-right: 0;
      }
      @include breakpoint($sm-bp) {
        padding-top: 0;
        display: flex;
        flex-direction: column-reverse;
      }
      button.rewievs-button {
        margin-left: 5rem;
        width: 33.3rem;
        @include breakpoint($lb-bp) {
          margin-left: 14rem;
          width: 30rem;
        }
        @include breakpoint($sm-bp) {
          margin-left: 0;
          width: 100%;
          margin-top: 3rem;
        }
        a.bold22 {

        }
      }
      .arrow-container {
        gap: 2.5rem;
        padding-top: 0;
        @include breakpoint($lb-bp) {
          gap: 2rem;
        }
        @include breakpoint($sm-bp) {
          padding-top: 1.5rem;
          width: 100%;
        }
      }
    }
  }
}


section.help {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 48.44%, #EEFFE7 90.62%, #FFFFFF 99.48%);
  @include breakpoint($lb-bp) {
    padding-top: 5rem;
  }
  @include breakpoint($sm-bp) {
    padding-bottom: 7rem;
  }
  div.help__wrapper {
    h2.ex76 {
      display: flex;
      padding-bottom: 6rem;
      @include breakpoint($lb-bp) {
        padding-bottom: 4rem;
      }
      @include breakpoint($sm-bp) {
        padding-bottom: 3rem;
      }
    }

    .help__button-wp {
      padding-top: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint($lb-bp) {
        display: none;
      }
      button {
        padding-left: 5rem;
        padding-right: 5rem;
        margin-right: 7rem;
      }
    }

    div.help__container {
      display: grid;
      grid-template-columns: 53.7% 1fr;
      gap: 14.4rem;
      @include breakpoint($xl-bp) {
        grid-template-columns: 1fr;
      }
      @include breakpoint($lb-bp) {
        gap: 3rem;
      }
      @include breakpoint($sm-bp) {
        gap: 1rem;
      }
      div.left-block {
        button.accordion {
          background-color: transparent;
          border: 0;
          border-radius: 0;
          padding: 0;
          padding-right: 10rem;
          position: relative;
          &::before, &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 1.9rem;
            height: 0.2rem;
            background-color: $black;
          }
          &::after {
            transition: transform .4s ease;
            transform: rotate(90deg);
          }

        }
        button.accordion.active + .panel{
          margin-top: 3.5rem;
          overflow: visible;
        }
        button.accordion.active {
          &::after {
            transform: rotate(0);
          }
        }
        

        div.panel {
          margin-bottom: 4rem;
          position: relative;
          @include breakpoint($lb-bp) {
            margin-bottom: 2.2rem;
          }
          &:before {
            content: '';
            position: absolute;
            top: -2rem;
            width: 28.9rem;
            height: 0.2rem;
            background: linear-gradient(to right, $green, transparent);
          }
          p {

          }
        }
      }

      .help__button-average {
        display: none;
        button {
          padding-left: 5rem;
          padding-right: 5rem;
          @include breakpoint($sm-bp) {
            width: 100%;
          }
        }
        @include breakpoint($lb-bp) {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 4rem;

        }
      }

      div.right-block {
        border: 0.1rem solid $lgreen;
        padding: 3rem 5.4rem;
        @include breakpoint($lb-bp) {
          padding: 8rem 10rem;
        }
        @include breakpoint($sm-bp) {
          padding: 3rem 1.5rem;
        }
        div.top-block {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 3.9rem;
          @include breakpoint($sm-bp) {
            grid-template-columns: 1fr;
          }
          @include breakpoint($sm-bp) {
            gap: 1.9rem;
          }
          div.top-block__title {
            grid-column: 2 span;
            text-align: center;
            @include breakpoint($lb-bp) {
              font-size: 3rem;
              line-height: 3.5rem;
            }
            @include breakpoint($sm-bp) {
              grid-column: auto;
              font-size: 2rem;
              line-height: 2.3rem;
              text-align: start;
            }
          }
        
          .telegram {
            display: flex;
              gap: 1rem;
              align-items: center;
            div.telegram__block {
              svg {
                use {
        
                }
              }
            }
            &:hover .icon-block svg{
                stroke: $orange;
                fill: $orange;
            }
            &:hover .icon-block {
              border-color: $orange;
            }
            div.telegram__text {
              text-decoration: underline;
            }
            &:hover .telegram__text {
              color: $orange;
            }
          }
        
          .phone {
            display: flex;
            gap: 1rem;
            align-items: center;
            div.phone__block {
              svg {
                use {
        
                }
              }
            }
            &:hover .icon-block svg{
              stroke: $orange;
              fill: $orange;
            }
            &:hover .icon-block {
              border-color: $orange;
            }
            div.phone__text {
              text-decoration: underline;
            }
            &:hover .phone__text {
              color: $orange;
            }
          }
        }
        .bottom-block {
          padding-top: 8rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 4rem;
          @include breakpoint($lb-bp) {
            padding-top: 10rem;
          }
          @include breakpoint($sm-bp) {
            padding-top: 4.2rem;
            gap: 2rem;
          }
          .bottom-block__title {
            @include breakpoint($lb-bp) {
              font-size: 3rem;
              line-height: 3.5rem;
            }
            @include breakpoint($sm-bp) {
              font-size: 2rem;
              line-height: 2.3rem;
              text-align: start;
              align-self: flex-start;
            }
          }
          .bottom-block__wrapper {
            display: flex;
            gap: 3rem;
            @include breakpoint($lb-bp) {
              gap: 2.5rem;
            }
            @include breakpoint($sm-bp) {
              gap: 1.9rem;
            }
            a {
              width: 4.6rem;
              height: 4.6rem;
              transition: filter 0.5s ease;
              &:hover {
                filter: brightness(0);
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}


section.join{

  div.join__wrapper {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint($lb-bp) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
    form {
      margin-right: 5rem;
      width: min-content;
      @include breakpoint($xl-bp) {
        margin-right: 0;
      }
      h3.ex50 {
        padding-bottom: 3.5rem;
        width: max-content;
        @include breakpoint($lb-bp) {
          padding-bottom: 2.5rem;
        }
        @include breakpoint($sm-bp) {
          align-self: center;
          padding-bottom: 1.5rem;
        }
      }
      padding: 5rem 10rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      border: 0.1rem solid #AFC7B1;
      border-radius: 0.5rem;
      @include breakpoint($lb-bp) {
        padding: 5rem 7rem;
      }
      @include breakpoint($sm-bp) {
        padding: 1.5rem;
        width: 100%;
      }
      .ref {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        span {
          margin-right: 1.2rem;
          margin-left: 1.2rem;
          @include breakpoint($sm-bp) {
            margin-right: 0;
            margin-left: 0;
          }
        }
      }
      input {
        padding: 1.5rem 2rem;
        border: 0.1rem solid #888888;
        border-radius: 0.5rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        @include breakpoint($sm-bp) {
          margin-right: 0;
          margin-left: 0;
        }
        @include breakpoint($sm-bp) {
          font-size: 1.4rem;
          line-height: 1.6rem;
        }
      }
      input + label > span.reg16 {
        @include breakpoint($sm-bp) {
          font-size: 1.4rem;
          line-height: 1.6rem;
        }
      }

      span {

      }

      div.checkbox-wrapper {
        padding-top: 1.5rem;
        padding-bottom: 1.2rem;
        margin-right: 1.2rem;
        margin-left: 1.2rem;
        @include breakpoint($lb-bp) {
          padding-top: 0.5rem;
        }
        @include breakpoint($sm-bp) {
          margin: 0;
          padding-bottom: 0;
        }
        div.custom-checkbox {

        }

        span {

        }
      }

      button.page-button.bold22 {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        @include breakpoint($sm-bp) {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}

}

@keyframes pulse {
  from {
    transform: scale(0.999);
  } to {
    transform: scale(1.2);
  }
}

.icon-block {
  border: 0.1rem solid $green;
  border-radius: 50%;
  width: 4.6rem;
  height: 4.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 60%;
    height: 60%;
    fill: $green;
  }
}

.accordion {
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/*Checkboxes styles*/
input[type="checkbox"] { width: 0; height: 0;}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 2rem;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid #888888;
  border-radius: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 1rem;
  top: -0.5rem;
  left: 0.5rem;
  border-radius: 0;
  border-color: $green;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Стиль аккордеон панели. Примечание: скрыто по умолчанию */
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out, margin-top 0.2s ease-out;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

input[required]:not([type="checkbox"]) + label {
  font-family: Arial;
  position: absolute;
  left: 3.2rem;
  top:50%;
  transform: translateY(-50%);
  // top: 1rem;
  // left: -16.6rem; /* the negative of the input width */
  @include breakpoint($sm-bp) {
    left: 2rem;
  }
}

input[required]:not([type="checkbox"]) + label:after {
  content:' *';
  color: red;
  font-size: 1.5rem;
}

/* show the placeholder when input has no content (no content = invalid) */
input[required]:invalid:not([type="checkbox"]) + label {
  display: inline-block;
  @include breakpoint($sm-bp) {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

/* hide the placeholder when input has some text typed in */
input[required]:valid:not([type="checkbox"]) + label{
  display: none;
}
input::-webkit-input-placeholder { color: $black; }
input::-moz-placeholder { color: $black; }

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}
.reg14 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $black;
}
.reg16 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.reg16--green {
  color: $green;
}
.reg16--orange {
  color: $orange;
}
.reg18 {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.reg30 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  font-feature-settings: 'pnum' on, 'lnum' on;
  
  /* Зеленый */

}
.reg30--green {
  color: $green;
}
.reg30--orange {
  color: $orange;
}

.med14 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.sm26 {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.1rem;
  color: $black;
  @include breakpoint($sm-bp) {
    font-size: 2rem;
    line-height: 2.3rem;
  }
}
.bold14 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.bold16 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.bold18 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;
}
.bold22 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.6rem;
}
.bold30 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  @include breakpoint($lb-bp) {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}

.bold40 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.7rem;
  @include breakpoint($lb-bp) {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  @include breakpoint($sm-bp) {
    font-size: 2.1rem;
    line-height: 2.3rem;
  }
}

.bold80 {
  font-weight: 700;
  font-size: 8rem;
  line-height: 9.4rem;
  @include breakpoint($xl-bp) {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

.ex18 {
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

.ex20 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.3rem;
}

.ex24 {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 3.4rem;
}
.ex26 {
  font-weight: 800;
  font-size: 2.6rem;
  line-height: 3.1rem;
}
.ex50 {
  font-weight: 800;
  font-size: 5rem;
  line-height: 5.9rem;
  @include breakpoint($sm-bp) {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
.ex150 {
  font-weight: 800;
  font-size: 15rem;
  line-height: 17.6rem;
  @include breakpoint($xl-bp) {
    font-size: 10rem;
    line-height: 12rem;
  }
  @include breakpoint($sm-bp) {
    font-size: 7rem;
    line-height: 8.2rem;
  }
}
.ex76 {
  font-weight: 800;
  font-size: 7.65rem;
  line-height: 9.1rem;
  @include breakpoint($xl-bp) {
    font-size: 5rem;
    line-height: 6rem;
  }
  @include breakpoint($sm-bp) {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}

.reg26 {
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 3.4rem;
  @include breakpoint($xl-bp) {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}

.pl4 {
  padding-left: 4.3rem;
  @include breakpoint($xl-bp) {
    padding-left: 0;
  }
}

.green {
  color: $green;
}
.orange {
  color: $orange;
}
.page-grid {
  display: grid;
  grid-template-columns: 2.5rem calc(100% - 4.5rem);
  column-gap: 2.2rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}
.nowrap {
  white-space: nowrap;
  @include breakpoint($xl-bp) {
    white-space: normal;
  }
}

.underline {
  position: relative;
  display: flex;
  @include breakpoint($xl-bp) {
    &::after {
      content: '';
      position: absolute;
      bottom: -0.7rem;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: $green;
    }
  }
}