.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: translateX(100%);
  height: 100vh;
  overflow: scroll;
  width: 100%;
  background-color: $white;
  transition: transform 0.5s ease-in-out;
  // display: none;
  padding: 2rem;
  padding-bottom: 4.1rem;
  padding-top: 11.42rem;


  display: grid;
  grid-template-columns: min-content 1fr;
  max-height: 85.9rem;
  @include breakpoint($sm-bp) {
    padding-top: 6.2rem;
    max-height: unset;
  }
  nav {
    @include breakpoint($sm-bp) {
      margin-bottom: 4rem;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      @include breakpoint($sm-bp) {
        gap: 2rem;
      }
    }
  }

      div.social {
      display: flex;
      gap: 1.5rem;
      a {
        display: block;
        width: 4.4rem;
        height: 4.4rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          filter: brightness(0);
          &:hover {
            transition: filter 0.5s ease;
            filter: brightness(1);
          }
        }
      }
    }

    .coins-container {
      .imgContainer {
        position: absolute;
        top: 0;
        right: 0;
        width: 8rem;
        height: 8rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .first-coin {
        top: 10rem;
        right: 31rem;
        @include breakpoint($sm-bp) {
          top: 8.1rem;
          right: 11.8rem;
          width: 4rem;
          height: 4rem;
        }
      }
      .second-coin {
        width: 13rem;
        height: 13rem;
        top: 20rem;
        right: 8rem;
        @include breakpoint($sm-bp) {
          width: 5rem;
          height: 5rem;
          top: 15rem;
          right: 4rem;
        }
      }
      .third-coin {
        top: 38.4rem;
        right: 29.5rem;
        height: 8.5rem;
        width: 8.5rem;
        @include breakpoint($sm-bp) {
          top: 22.4rem;
          right: 13rem;
          height: 4rem;
          width: 4rem;
        }
      }
      .forth-coin {
        width: 8.5rem;
        height: 8.5rem;
        top: 50rem;
        right: 9rem;
        @include breakpoint($sm-bp) {
          width: 4.5rem;
          height: 4.5rem;
          top: 28rem;
          right: 3rem;
        }
      }
      .fifth-coin {
        top: 56.5rem;
    right: 25.5rem;

    width: 11rem;
    height: 11rem;
    @include breakpoint($sm-bp) {
      top: 34.5rem;
      right: 8.5rem;
      width: 6.5rem;
      height: 6.5rem;
    }
      }

    }

    div.contacts {
      padding-top: 12rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      @include breakpoint($sm-bp) {
        padding-top: 5rem;
        border-top: 0.1rem solid #AFC7B1;
        gap: 1rem;
      }
      div.contacts__title.ex26 {
        @include breakpoint($sm-bp) {
          font-weight: 800;
          font-size: 2rem;
          line-height: 2.3rem;
        }
      }
    
      a.sm18.info {
    
      }
    
      div.social {
        gap: 1.4rem;
        a {
          @include breakpoint($sm-bp) {
            margin-top: 0.5rem;
          }
          img {
    
          }
        }
      }
    }

    button.page-button {
      margin-top: auto;
      margin-left: 5.6rem;
      height: min-content;
      @include breakpoint($sm-bp) {
        margin-top: 10rem;
        margin-left: 0;
        grid-column: 2 span;
      }
      a {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.1rem;
      }
    }
}

.menu--open {
  transform: translateX(0);
}

.menu-button {
  width: 4rem;
  height: 3.4rem;

  background-color: transparent;
  border: 0;

  z-index: 3;
  display: none;
  position: relative;
  div.burger-button-close {
    #first-line-burger,
    #second-line-burger,
    #third-line-burger {
        width: 100%;
        height: 0.1rem;
        background-color: $black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        transform-origin: center center;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    div#first-line-burger {
        top: 0%;
    }
    div#third-line-burger {
        top: unset;
        bottom: 0%;
    }
  }
  @include breakpoint($xl-bp) {
    display: block;
    margin-left: 3rem;
  }
  @include breakpoint($sm-bp) {
    margin-left: 0;
    width: 100%;
    height: 2rem;
  }
}

.menu-button--active {
  div.burger-button-close {
    div#first-line-burger {
      top: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
    #second-line-burger {
      transform: translateX(100%);
      opacity: 0;
    }
    div#third-line-burger {
      top: 50%;
      bottom: 0;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0.5;
  z-index: 2;
}